.footer {
  background-color: #fafafa;
  border-top: 1px solid #eee;
  padding: 50px 0;
  margin-top: 50px;
}

.footer-container {
  width: 85%;
  margin: auto;
}

/* Top section */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

/* Columns */
.footer-col {
  display: flex;
  flex-direction: column;
  min-width: 180px;
}

/* Logo */
.footer-logo {
  width: 140px;
  margin-bottom: 15px;
}

/* Headings */
.footer-col h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Links */
.footer-col a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  margin-bottom: 6px;
}

.footer-col a:hover {
  color: #387ed1;
}

/* Text */
.footer-text {
  font-size: 11px;
  color: #777;
}

/* Bottom section */
.footer-bottom {
  margin-top: 40px;
  font-size: 12px;
  color: #888;
  line-height: 1.6;
}

.footer-bottom p {
 font-size:12px;
}    